#wrapper {
  position: relative;
  width: 100%;
}

#main-content {
  padding-top: 60px;
  max-width: 1840px;
  margin: 0 auto;

}

.select2-selection__rendered {
  line-height: 45px !important;
}
.select2-selection--single,
.select2-selection__arrow {
  height: 45px !important;
}
.touch {
  * {
    cursor: pointer;
  }
}
.st-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.modal-content {
  border-radius: 3px;
  padding: 20px 30px 30px;
  .close {
    background: transparent;
    outline: none !important;
    border: none;
  }
}

.modal-body {
  .form-group {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
    .input-icon {
      @include position(absolute, 50%, 15px);
      font-size: 20px;
      color: $icon_color;
      transform: translateY(-50%);
    }
  }
}

// .overlay-after {
//   position: relative;
//   z-index: 1;

//   &::after {
//     content: "";
//     @extend %ps-as;
//     z-index: -1;
//     background-color: #000;
//     opacity: .8;
//   }
// }

// .link-inhert {
//   @extend %link-inhert;
// }

// .parent-link-inhert {
//   @extend %parent-link-inhert;
// }

.bg {
  @include background-size(cover);
}

.bg-bottom-center {
  background-position: bottom center !important;
}

.bg-bottom-right {
  background-position: bottom right !important;
}

.bg-bottom-left {
  background-position: bottom left !important;
}

.bg-center {
  background-position: center center !important;
}

.bg-top-left {
  background-position: top left !important;
}

.bg-top-right {
  background-position: top right !important;
}

// .bg-inhert {
//   background-color: inherit;
// }

// .bg-gray {
//   background-color: $gray-500;
// }

.text-white {
  @extend %color-white;
}

.ps-as {
  @include position(absolute, 0, 0, 0, 0, 1);
  &.bg {
    z-index: -1;
  }
}

.ps-rv {
  position: relative;
}

.ps-stt {
  position: static;
}

.d-table,
.d-sm-table,
.d-md-table,
.d-lg-table {
  table-layout: fixed;
}

.no-bg {
  background: none !important;
}

// .text-center {
//   ul,
//   ol {
//     padding-left: 0;
//     li {
//       list-style-position: inside;
//     }
//   }

//   ul {
//     display: table;
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

.last-mb-none {
  @extend %last;
}
