.mod-search {
  background: transparent;
  padding: 25px 0;
  @include position(relative, $index: 99);
  .form-control {
    border: 1px solid #aaa;
  }
}
.seach-bg {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}
.search-item {
  .form-group {
    position: relative;
    > i {
      @include position(absolute,50%, null, null, 10px);
      transform: translateY(-50%);
    }
    .select2-selection__rendered,
    .dateDeparture {
      padding-left: 30px;
    }
  }
  p {
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      left: 0;
      width: 0%;
      background-color: $orange;
      transition: .5s ease all .3s;
    }
  }
  &:hover {
    p {
      &::after{
        width: 100%;
      }
    }
    
  }
}
.irs--round {
  .irs-handle {
    border: none;
  }
  .irs-bar,
  .irs-line {
  height: 8px !important;
  }
}

@include media-breakpoint-up(lg) {
  .button-search {
    position: relative;
    .form-group {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }
}
.body-overlay {
  &.show {
  @include position(fixed,0, 0, 0, 0, 98);
  background: rgba(0, 0, 0, 0.6);
  }
}