

.mod-tour {
  background: #f8f8f8;
  padding: 15px 0;
}
.tour__wrapper {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  padding-bottom: 15px;
  background-color: #fff;
}
.tour--item {
  margin-bottom: 20px;
}
.tour--footer,
.tour--content {
  padding: 0 15px;
  p {
    margin-bottom: 10px;
  }
}
.tour__img {
  position: relative;
  background-size: cover;
  transition: all 220ms ease-in;
  span {
    @include position(absolute, -13px, -30px, $index: 1);
    @include sizeEx(75px, 45px);
    background: $orange;
    transform: rotate(45deg);
    line-height: 67px;
    text-align: center;
  }
  img {
    @include position(relative, $index: -1);
    @include sizeEx(100%);
  }
}
.tour__review,
.tour--footer {
  display: flex;
  justify-content: space-between;
}

.tour__tag {
  @include position(absolute,10px, $index: 1);
  border-radius: 0 3px 3px 0;
  background: $blue;
  padding: 0px 10px;
  color: #fff;
  font-weight: 500;
}
.tour__review {
  margin: 25px 0;
}
.tour__price{
  .price {
    position: relative;
    span:not(.onsale){
      font-size: rem(18px);
      color: $gray-900;
      font-weight: 500;
    }
    .onsale {
      @include position(absolute,-25px, 0);
      text-decoration: line-through;
      font-size: 14px;
      color: $orange;
    }

  }

}

.tour__duration {
  padding-top: 2px;
}

@include media-breakpoint-up(md) {
  .tour--item {
    &:hover {
     .tour__img{
      img {
        z-index: 0;
        background: rgba(0,0,0, 0.2);
      }
     } 
    }
  }
}