.mod-destination {
  padding-top: 20px;
}
.destination-item {
  position: relative;
  margin-bottom: 20px;
  &:hover {
    .destination-img {
      img {
        transform: scale(1.1);
      }
    }
  }
}
.destination-img {
  overflow: hidden;
  img {
    border-radius: 3px;
    transition: transform 220ms ease-in-out;
  }
}
.destination-content{
  @include position(absolute, 50%,null, null, 50%);
  transform: translate(-50%, -50%);
  color: #fff;
  p {
    margin-bottom: 0;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);       
    border-radius: 30px;
    display: inline-block;
    padding: 5px 20px;
  }
}
